* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
}




body {
    background: #1c1c1c;
}



.header_secstion {
  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1)) rgba(13, 52, 58, 1);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ajuste del fondo */
    min-height: 100vh;
    animation: fade 1s forwards ease;
    opacity: 0;
    animation-delay: 0.8s;
    transition: .6s;
    position: relative;
    z-index: 1;
}

.header_secstion:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

@keyframes fade {
    100% {
        opacity: 1;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    height: 80px;
    color: #fff;
    position: relative;
    transition: 6s;
}

nav:hover {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    height: 80px;
    color: #fff;
    position: relative;
}
    

ul li {
    display: inline-block;
    margin: 0 25px;
}

ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    transition: .6s !important;
}

ul li a:hover {
    color: #6eabd1;
}

.bars {
    display: none;
}

.client_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 150px;
    margin-left: 150px;
}

.client_info h1 {
    font-size: 105px;
    font-weight: 900;
    cursor: pointer;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    animation: textMove 10s infinite linear;
}

@keyframes move {
    100% {
        background-position: 2000px 0;
    }
}

.client_info h1:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(164, 139, 253),
                 0 0 20px rgb(0, 0, 0),
                 0 0 40px #443B40,
                 0 0 80px  #443B40,
                 0 0 160px #443B40,
                 0 0 320px #443B40;
}

.client_info h2 {
    font-size: 107px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 5s linear;
    color: transparent;
    -webkit-text-stroke: 1px #00a2ec;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 200%;
    -webkit-background-clip: text;
    animation: move 30s linear infinite;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.11), 
                 0 0 20px rgb(6, 80, 114),
                 0 0 40px rgba(64, 4, 82, 0.5),
                 0 0 80px rgba(255, 0, 0, 0.5),
                 0 0 160px rgba(255, 0, 0, 0.5),
                 0 0 320px rgba(211, 211, 211, 0.5);
}
    



.client_info h2:hover {
    color: rgba(0, 0, 0, 0.13);
}
    

.client_info p {
    font-size: 21px;
    color: #fff;
    width: 658px;
    line-height: 28px;
    margin: 22px;
}


.icon {
    display: flex;
    list-style: none;
}

.icon li {
    margin: 30px 25px;
}

.icon li a i {
    font-size: 20px;
    transition: .3s;
}

.icon li a i:hover {
    color: rgb(54, 111, 129);
}
button {
    top: -2px;
    font-size: 14px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: transparent;
    margin: 15px;
    cursor: pointer;
    border: 2.5px solid rgb(247, 247, 247);
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.6s ease;
    -webkit-text-stroke:  #ffffff;
    background-image: linear-gradient(to left, rgb(254, 255, 255), rgb(195, 0, 255), rgb(0, 0, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    animation: move 30s linear infinite;
}





@keyframes move {
    100% {
        background-position: 2000px 0;
    }
}

button:hover {
    color: rgb(255, 255, 255); /* Cambia el color del texto al pasar el ratón */
    border: 2px solid rgb(54, 111, 129);
    box-shadow: 5px 5px 0 rgb(113, 0, 243);
}

button:hover::after {
    top: 100%;
}

button::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 54, 129, 0.377);
    transition: 0.5s ease;
}


@media (max-width:1180px) {
    .contain_client_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .client_info_table {
        margin-left: 100px;
    }
    .download_cv {
        margin-left: 100px;
    }
}

@media (max-width:884px) {
    .client_info_table {
        margin-left: 0;
    }
    .download_cv {
        margin-left: 0;
    }
}

@media (max-width:900px) {
    .download_cv {
        display: block;
    }
    .contain_client_info {
        height: 150vh;
        background-color: #000;
    }
}

@media (max-width:1250px) {
    nav {
        padding: 0 10px;
    }
}

@media (max-width:1100px) {
    .bars {
        display: block;
        padding: 20px;
        cursor: pointer;
    }

    nav {
        padding: 55px;
    }

    ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #000;
        color: #fff;
        z-index: 9999;
        opacity: 0;
        transition: 0.5s;
    }

    ul li {
        display: block;
        margin: 20px 0px;
        padding: 10px 0;
        padding-left: 8%;
    }

    ul li a:hover {
        color: rgb(255, 0, 0);
    }

    .show_menu {
        opacity: 1;
    }

    body {
        width: 100%;
    }

    .client_info {
        position: relative;
        right: 10%;
    }

    .demo_text {
        max-width: 400px;
    }
}


/* Estilos generales para la sección 'Sobre Mí' */
.about-me {
    margin-top: 226px;
    background: #121212;
    color: #f0f0f0;
    padding: 80px 20px;
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.about-me-content {
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

/* Título principal */
.section-title h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #f0f0f0;
    text-shadow: 0 5px 15px rgba(0, 253, 68, 0.8);
}

.section-subtitle {
    font-size: 1.2rem;
    color: #f0f0f0;
    margin-bottom: 40px;
}

/* Descripción personal */
.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
}

/* Contenedor de imagen y habilidades */
.about-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.profile-image {
    flex: 1;
    max-width: 300px;
    margin-bottom: 20px;
}

.profile-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.profile-image img:hover {
    transform: scale(1.1);
}

/* Estilos de la lista de habilidades */
.skills {
    flex: 2;
    max-width: 500px;
}

.skills h3 {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
}

.progress-bar {
    flex: 1;
    height: 8px;
    background: #333;
    border-radius: 5px;
    margin-left: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: rgba(0, 253, 68, 0.8);
    border-radius: 5px;
    transition: width 0.3s ease;
}

/* Estilos para los botones */
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.btn {
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-primary {
    background: rgba(0, 253, 68, 0.8);;
    color: rgba(0, 0, 0, 0.8);
    border: 1px rgba(0, 0, 0, 0.8);;
}

.btn-primary:hover {
    color: rgba(0, 253, 68, 0.8);;;
    background: linear-gradient(90deg, #000000, #000000);
    box-shadow: 0 5px 15px rgba(0, 253, 68, 0.8);
}

.btn-secondary {
    background: #000000;
    color: rgba(0, 253, 68, 0.8);
    border: 1px rgba(0, 253, 68, 0.8);;
    
}

.btn-secondary:hover {
    background: rgba(0, 253, 68, 0.8);;
    color: #111;
    box-shadow: 0 5px 15px rgba(0, 253, 68, 0.8);
}

/* Responsivo */
@media (max-width: 768px) {
    .about-details {
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        margin-bottom: 30px;
    }

    .skills ul {
        padding-left: 20px;
    }
}


/* Estilo general */
body {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Sección de proyectos */
  .projects-section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .projects-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #f0f0f0;
    text-shadow: 0 5px 15px rgba(255, 215, 0, 0.8);
  }
  
  /* Proyecto individual */
  .project {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(145deg, #1c1c1c, #111111);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8), inset 0 0 20px rgba(255, 255, 255, 0.05);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  .project:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 30px 60px rgba(255, 215, 0, 0.8), inset 0 0 25px rgba(255, 255, 255, 0.1);
  }
  
  /* Imagen del proyecto */
  .project-image {
    flex: 1;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    filter: grayscale(20%);
    transition: transform 0.4s ease, filter 0.4s ease;
  }
  
  .project:hover .project-image img {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
  
  /* Contenido del proyecto */
  .project-content {
    flex: 1;
    text-align: left;
    animation: slideIn 1s ease-in-out;
  }
  
  .featured-text {
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffcc00;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .project-title {
    font-size: 2rem;
    margin: 10px 0;
    color: #ffffff;
    text-shadow: 0 4px 10px rgba(255, 215, 0, 0.5);
  }
  
  .project-description {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .project-link {
    display: inline-block;
    padding: 12px 30px;
    background: linear-gradient(90deg, #ffd700, #ffc107);
    color: #111111;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.4s ease, transform 0.3s ease;
  }
  
  .project-link:hover {
    background: linear-gradient(90deg, #ffc107, #ffd700);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.5);
  }
  
  /* Animaciones */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .project {
      flex-direction: column;
    }
  
    .project-image,
    .project-content {
      width: 100%;
      text-align: center;
    }
  }
  
  

/* Sección de Estudios */
#studies {
    padding: 60px 20px;
    background: linear-gradient(145deg, #1c1c1c, #111111);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 20px 0;
    position: relative;
}

#studies h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #f0f0f0;
    text-shadow: 0 5px 15px rgb(255, 0, 0);
}

.studies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 10px;
}

.study-item {
    background-color: #000;
    color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.study-item:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 30px 60px rgb(162, 0, 0), inset 0 0 25px rgba(255, 255, 255, 0.1);
  }


.study-icon {
    font-size: 3em;
    margin-bottom: 20px;
    color: rgb(255, 0, 0);
}

.study-details h3 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
}

.study-description {
    color: #bbbbbb;
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.study-duration {
    color: rgb(255, 0, 0);
    font-size: 0.9em;
    margin-bottom: 20px;
}

.study-more {
    color: #115298;
    font-size: 0.95em;
    display: none;
    text-align: left;
    margin-top: 10px;
}

.study-item:hover .study-more {
    display: block;
}

/* Efecto Hover de las tarjetas */
.study-item:hover .study-description {
    color: #ffffff;
}

.study-item:hover .study-duration {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .studies-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .studies-container {
        grid-template-columns: 1fr;
    }
}
/* Sección de Hobbies */
#hobbies {
   
    padding: 60px 20px;
    background: linear-gradient(145deg, #1c1c1c, #111111);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 80px 0;
    position: relative;
}

#hobbies h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #f0f0f0;
    text-shadow: 0 5px 15px rgba(0, 153, 255, 0.8); /* Sombra de texto similar a la de estudios */
}

.hobbies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 10px;
}

.hobby-item {
    background-color: #000;
    color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.hobby-item:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 30px 60px rgba(0, 85, 135, 0.8), inset 0 0 25px rgba(255, 255, 255, 0.1);
}

/* Icono de los hobbies */
.hobby-icon {
    font-size: 3em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8); /* Color similar al de los iconos en la sección de estudios */
}

.hobby-details h3 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
}

.hobby-description {
    color: #bbbbbb;
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.hobby-duration {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9em;
    margin-bottom: 20px;
}

.hobby-more {
    color: #a8a8a8;
    font-size: 0.95em;
    display: none;
    text-align: left;
    margin-top: 10px;
}

.hobby-item:hover .hobby-more {
    display: block;
}

/* Efectos Hover en la descripción */
.hobby-item:hover .hobby-description {
    color: #1479b4;
}

.hobby-item:hover .hobby-duration {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .hobbies-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .hobbies-container {
        grid-template-columns: 1fr;
    }
}
/* Sección de Contacto */
#contact {
    margin-top: 40px;
    position: relative;
    padding: 80px 20px;
    background: linear-gradient(145deg, #1c1c1c, #111111);
    color: rgb(93, 0, 106);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#contact h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 4px 10px rgb(151, 0, 246);
}

.contact-subtitle {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}

.input-group {
    position: relative;
}

.input-group input, .input-group textarea {
    top: 10px;
    background: black;
    width: 100%;
    padding: 14px;
    font-size: 1.1em;
    position: relative;
    border-radius: 8px;
    border: 1px solid #c900ff;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 7px;
}

.input-group input:focus, .input-group textarea:focus {
    border-color: #8e24aa;
    box-shadow: 0 0 10px rgba(142, 36, 170, 0.6);
}

.input-group label {
    position: absolute;
    top: -8px;
    left: 16px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.input-group input:focus + label,
.input-group textarea:focus + label {
    top: -30px;
    font-size: 0.9rem;
    color: #fff;
}

.submit-btn {
    border: 2.5px solid rgb(247, 247, 247);
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.6s ease;
    -webkit-text-stroke:  #ffffff;
    background-image: linear-gradient(to left, rgb(254, 255, 255), rgb(195, 0, 255), rgb(0, 0, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    animation: move 30s linear infinite;
    border-radius: 50px;
}

.submit-btn:hover {
    background-color: #6a1b9a;
    transform: translateY(-5px);
}

.contact-info {
    margin-top: 40px;
    font-size: 1.2rem;
    line-height: 1.8;
}

.contact-info i {
    margin-right: 10px;
}

.contact-info p {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info p i {
    font-size: 1.5rem;
    color: #f5f5f5;
}

/* Animaciones y Efectos */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#contact h2, .contact-form, .contact-info {
    animation: fadeIn 1s ease-out;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-form {
        margin: 0 20px;
    }
}

@media (max-width: 480px) {
    #contact {
        padding: 60px 20px;
    }

    .contact-form {
        margin: 0 10px;
    }

    .contact-info {
        font-size: 1rem;
    }
}
